<form [formGroup]="subForm" (ngSubmit)="subscribe()">
    <section>
        <h2>Product Details</h2>
        <div>
            <label for="subName">Product/Subscription Name:</label>
        </div>
        <div>
            <input type="text" id="subName" name="subName">
        </div>
        <div>
            <label for="subDesc">Product/Subscription Description:</label>
        </div>
        <div>
            <input type="text" id="subDesc" name="subDesc">
        </div>        
        <div>
            <label for="unitAmount">Cost (in cents)</label>
        </div>
        <div>
            <input type="number" id="unitAmount" name="unitAmount" placeholder="e.g. 500 = $5">
        </div>
        <span>
            <label for="day">Day</label>
            <input type="radio" id="day" name="interval">
        </span>
        <span>
            <label for="week">Week</label>
            <input type="radio" id="week" name="interval">
        </span>
        <span>
            <label for="month">Month</label>
            <input type="radio" id="month" name="interval">
        </span>
        <span>
            <label for="year">Year</label>
            <input type="radio" id="year" name="interval">
        </span>
    </section>
    <section>
        <h2>Card Details</h2>
        <div>
            <label for="cardNum">Card Number:</label>
        </div>
        <div>
            <input type="text" id="cardNum" name="cardNum">
        </div>
        <div>
            <label for="cardExpMth">Expiry Month:</label>
        </div>
        <div>
            <input type="number" id="cardExpMth" name="cardExpMth">
        </div>
        <div>
            <label for="cardExpYear">Expiry Year:</label>
        </div>
        <div>
            <input type="number" id="cardExpYear" name="cardExpYear">
        </div>
        <div>
            <label for="cardCvc">CVC:</label>
        </div>
        <div>
            <input type="text" id="cardCvc" name="cardCvc">
        </div>
    </section>
    <section>
        <button type="submit" [disabled]="subForm.invalid">Subscribe!</button>
    </section>
</form>